#app {
    min-height: 100vh;
}

#topbar {
    background-color: darkblue;
}

.hometop {
    background-color: #00008b3b !important;
    width: 100vw;
    position: absolute;
}

#homecontent {
    background-image: url('cafeTable.jpg');
    background-size: cover;
    height: 100vh;
    color: white;
}

#homecontent h1 {
    height: 13vh;
    width: 60vw;
    border: solid white;
    border-width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    background-color: #0000004f;
    font-weight: 500;
}

#menus {
    position: absolute;
    left: 25vw;
    top: 30vh;
}

#bottom-nav {
    width: 100vw;
    position: absolute;
    bottom: 30px;
}