body,
html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    @include desktop {
        font-size: 20px;
    }
}

li {
    margin: 0 0 3px 0;
}

.clickable {
    cursor: pointer;
}

.lightTransparentBackground {
    background-color: rgba(188, 238, 215, 0.8)
}

.selected {
    background-image: linear-gradient(to right, aquamarine, white);
}

#mainDisplay {
    /* height: 100vh;*/
    position: relative;
}

.padded {
    padding: 20px;
}

.fullHeight {
    height: 100vh;
}

#home {
    width: 100%;
    display: inline-block;
}

#homecontent {
    width: 100%;
}

#rankingContent {
    width: 100%;
    max-height: 95vh;
    z-index: 2;
}

.scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

#homeSvg {
    /*    position: absolute;*/
    top: 0;
    left: 0;
    background-image: url("../../static/webDisplay/bar.jpg");
    background-size: cover;
    font-weight: 700;
}

#toolBar {
    bottom: 20%;
    left: 0;
    position: fixed;
    border-radius: 5px;
}

#compactNav {
    bottom: 10%;
    left: 0;
    position: fixed;
    border-radius: 5px;
}

#expand {
    position: absolute;
    bottom: 20%;
}

#rankingMiscelleanous {
    position: relative;
}

#reduce {
    position: fixed;
    bottom: 15vh;
    left: 20vh;
}

#fullRankingFrame {
    /*to remove?*/
    width: 100%;
    height: 100vh;
}

.announcement {
    color: rgba(74, 204, 143, 1);
}

.fullScreen {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.listed {
    height: 100%;
}

.fullWrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
}

#compactAnimeInfo {
    color: navy;
}

#playerControl {
    position: fixed;
    bottom: 10px;
    left: 10px;
}


/* The slider itself */

.scrollSlider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 15px;
    /* Specified width */
    height: 80%;
    /* Full- height */
    background: #23da9d;
    /* Greenish background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}


/* Mouse-over effects */

.scrollSlider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.scrollSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: rgb(214, 243, 227);
    /* light background */
    cursor: pointer;
    /* Cursor on hover */
}

.scrollSlider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: rgb(214, 243, 227);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}