/* General frame */

li {
    /* effective in account top10 */
    margin: 0 0 3px 0;
}

span.line {
    display: inline-block;
}

.title,
.subtitle {
    cursor: default;
}

.padded {
    padding: 20px;
}

.clickable {
    cursor: pointer;
}

.screenHigh {
    height: 100vh;
}

.onpage-message {
    color: rgba(74, 204, 143, 1);
}

.careful {
    color: fuchsia;
}

.menu-overlay {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100vw;
    z-index: 200;
}

.catchphrase {
    font-style: italic;
}

#mainDisplay {
    position: relative;
}

#loadingscreen {
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: 100;
    background-image: url("../../static/webDisplay/bar.jpg");
    background-size: cover;
}

#sidenav {
    text-align: center;
    font-weight: bold;
}

#sidenav p {
    color: darkgray;
}

#sidenav li {
    margin-bottom: 25px;
}


/* ----------------------- HOME Page ----------------------- */

#homeSvg {
    top: 0;
    left: 0;
    background-image: url("../../static/webDisplay/bar.jpg");
    background-size: cover;
    font-weight: 700;
}

#homeSvg text {
    stroke: #ffffff;
    fill: #ffffff;
}

#homeSvg circle {
    stroke: #9fffff;
    fill: black;
    fill-opacity: 0.3;
    stroke-width: 2;
}


/* ----------------------- RANKING ----------------------- */

.favourite {
    color: goldenrod;
}

.scrollable {
    /* ok for mozilla  */
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: white black;
    ;
    scrollbar-width: thin;
}


/* Chrome and edge scrollbar */

.scrollable::-webkit-scrollbar-thumb {
    background: #e8f8f3;
    border-radius: 10px;
}

.scrollable::-webkit-scrollbar {
    width: 10px;
}

.scrollable::-webkit-scrollbar-track {
    background: black;
    box-shadow: inset 0 0 5px #f1f1f1;
    border-radius: 10px;
}


/* ----------------- */


/* RANKING - navigation */

.prevNext {
    transform: scale(1, 2);
}

#rankingnav {
    position: relative;
}

#goup {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0);
}

#goprev {
    position: absolute;
    top: 30%;
    left: 10%;
}

#currentpage {
    position: absolute;
    top: 30%;
    right: 50%;
    transform: translate(50%, 0);
    min-width: 56%;
    text-align: center;
}

#pagejump {
    position: absolute;
    /* top: 50%; */
    right: 50%;
    transform: translate(50%, 0%);
    max-width: 100px;
}

#pagejump input {
    min-width: 45px;
}

#gonext {
    position: absolute;
    top: 30%;
    right: 10%;
}

#godown {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, 0);
}

#totalcount {
    position: absolute;
    bottom: 2%;
    width: 100%;
    text-align: center;
}


/* ----------------------- VIDEOS ----------------------- */

.listed {
    height: 100%;
    width: 100%;
}

.fullScreen {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.fullWrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
}


/* wide screen navigation */

#compactAnimeInfo {
    color: navy;
}

#toolBar {
    bottom: 20%;
    left: 1%;
    position: fixed;
    border-radius: 5px;
    color: black;
}

#compactNav {
    bottom: 10%;
    left: 1%;
    position: fixed;
    border-radius: 5px;
}


/* out of screen controls */

#playerControl {
    position: fixed;
    bottom: 10px;
    left: 10px;
}


/* ADVISED AND RATE */

.thinList {
    column-count: 2
}

#characteristics {
    color: yellow;
    background-color: #1bba86ba;
    border-radius: 42px;
    padding: 30px 0 30px 0;
    margin-right: 25px;
    margin-bottom: 25px;
    font-family: orbitron;
    font-weight: bold;
}


/*  checkboxes in characteristics */

#characteristics input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    border-radius: 4px;
    height: 15px;
    width: 15px;
    background: #fff;
    border: 1px solid yellow;
}

#characteristics input[type="checkbox"]:checked {
    margin: 0px;
    position: relative;
    background: goldenrod;
}

#rateContent {
    background-repeat: no-repeat;
    background-position: center;
}

#myRange {
    width: 100%;
    height: 13px;
    /* color: lime; */
    background: linear-gradient(#aeffae, white);
    border-radius: 25px;
}

#myRange::-moz-range-track {
    background: linear-gradient(#aeffae, white);
}

#rateIllustration {
    position: absolute;
    max-height: 183px;
    width: auto;
    right: 2px;
    top: 2px;
}


/*  checkboxes in advised screen */

#advisedContent input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -border-radius: 4px;
    height: 15px;
    width: 15px;
    background: #fff;
    border: 1px solid fuchsia;
}

#advisedContent input[type="checkbox"]:checked {
    margin: 0px;
    position: relative;
}

#advisedContent input[type="checkbox"]:checked:before {
    content: '\2713\0020';
    display: block;
    color: grey;
    font-size: 15px;
    top: -4px;
    left: 1px;
    font-weight: bolder;
    position: absolute;
}


/* ------------ */

#advisedIllustration {
    position: absolute;
    max-height: 450px;
    width: auto;
    right: 10px;
    bottom: 0px;
    opacity: 0.1;
    z-index: 0;
}

#advisedAnimes {
    font-size: 1.3em;
    z-index: 10;
}

#advisedAnimes li {
    margin-bottom: 20px;
}


/* ACCOUNT */


/* 


*/