<div>
    <div class="section">
        <h5 class="title is-5">
            The idea
        </h5>
        <p>
            Welcome to the anime bar. This website was built with the idea of sharing our favourite animes. After more than 10 years watching them, I felt like sharing and discussing about it.
        </p>
    </div>
    <div class="section">
        <h5 class="title is-5">
            The ranking
        </h5>
        <p>
            This is a listing of our top animes. This in more like a hall of fame rather than an extensive listing of every existing animes created throughout the age.</br>
            You can vote for your favourite and suggest new possible entries if you are logged in.
        </p>
    </div>
    <div class="section">
        <h5 class="title is-5">
            Privacy policy <i class="fas fa-cookie-bite"></i>
        </h5>
        <p>
            I am not a big fan of ads and data tracking. For now the website is free of ads and we are not collecting your datas. Even the youtube videos are sourced without cookies
        </p>
    </div>
</div>