<div>
    <div class="section">
        <h5 class="title is-5">
            The idea
        </h5>
        <p>
            Welcome to the anime bar. This website was built with the idea of sharing our favourite animes. After more than 10 years watching them, I felt like sharing and discussing about it.
        </p>
    </div>
    <div class="section">
        <h5 class="title is-5">
            The ranking
        </h5>
        <p>
            This is a listing of our top animes. It is more like a hall of fame rather than an extensive listing of every existing animes created throughout the age.</br>
            You can vote for your favourite and suggest new possible entries if you are logged in.
        </p>
    </div>
    <div class="section">
        <h5 class="title is-5">
            Privacy policy <i class="fas fa-cookie-bite"></i>
        </h5>
        <p>
            I am not a big fan of ads and data tracking. The website is therefore free of ads and does not collect your datas. The services we use might do it though. For example, YouTube is used in a 'no cookie' mode but may still do stuffs on their own.
        </p>
    </div>
</div>