<div class="columns">
    <div class="column is-4" id="details">
        <div>
            <h5 class="title is-5">
                Top 10
                <button class="button is-small is-warning" title="clear all rankings" @click="deleteFavourites()"><i class="fa fa-trash"></i></button>
            </h5>
            <ol>
                <li v-for="anime in top10"> [[anime]]</li>
            </ol>
        </div>
        <h5 class="title is-5">Suggestion</h5>
        <p title="Based on top ten">[[currentSuggestion]]</p>
    </div>

    <div class="column is-4">
        <h5 class="title is-5">Ranking suggestion</h5>
        <div class="field" id="rankingSuggestion">
            <div class="control">
                <input class="input" type="text" v-model="animeName" placeholder="Anime name (required)">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input" type="text" v-model="genre" placeholder="Genre">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input" type="text" v-model="videoLink" placeholder="Videolink">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input" type="text" v-model="tags" placeholder="Tags">
            </div>
        </div>
        <button class="button is-primary" @click="sendSuggestedAnime()" v-bind:disabled="!sendEnabled">SEND</button>
        <div>[[message]]</div>
    </div>

    <div class="column is-4" id="displaySettings">
        <h5 class="title is-5">Display settings</h5>
        <div class="field">
            <span class="control">
                <label class="label">auto play in extended ranking videos:
                    <label class="radio">
                        <input type="radio" name="question" value="yes" v-model="extendedVideosAutoplay">
                        Yes
                    </label>
                    <label class="radio" >
                        <input type="radio" name="question" value="no" v-model="extendedVideosAutoplay">
                        No
                    </label>
                </label>
            </span>
        </div>

        <div class="field">
            <span class="control">
                <label class="label">Theme
                    <span class="select">
                        <select v-model="selectedColor">
                            <option v-for="color in themeColors">[[color]]</option>
                        </select>
                    </span>
            </label>
            </span>
        </div>
    </div>

</div>