<div class="columns ">
    <div class="column is-4">
        <h5 class="title is-5">Search by similarities <input type="checkbox" v-model="bySimilarities"> </h5>
        <div class="field has-addons">
            <div class="control">
                <input class="input" type="text" placeholder="anime name ex: Naruto">
            </div>
            <div class="control">
                <button class="button">Add</button>
            </div>
        </div>
        <ul>
            <li>pref1</li>
            <li>pref2</li>
            <li>pref3</li>
            <li>pref4</li>
            <li>pref5</li>
            <li>pref6</li>
        </ul>
        <div class="control">
            <button class="button is-primary" v-bind:disabled="!filteringMethodTicked" v-bind:title="searchButtonTitle">SEARCH</button>
        </div>
    </div>
    <div class="column is-4">
        <h5 class="title is-5">Filters <input type="checkbox" v-model="byCharateristics"></h5>
        <div class="field">
            <div class="select">
                <select>
                          <option disabled selected>Genre</option>
                          <option>Harem</option>
                          <option>Martial Arts</option>
                </select>
            </div>
        </div>
        <div class="field">
            <div class="control columns">
                <label class="column is-3">visuals</label>
                <input type="range" min="1" max="100" value="50" class="slider column is-5" id="myRange">
            </div>
        </div>
        <div class="field">
            <div class="control columns">
                <label class="column is-3">audio
                </label>
                <input type="range" min="1" max="100" value="50" class="slider column is-5" id="myRange">
            </div>
        </div>
        <div class="field">
            <div class="control columns">
                <label class="column is-3">violence
                </label>
                <input type="range" min="1" max="100" value="50" class="slider column is-5" id="myRange">
            </div>
        </div>
        <div class="field">
            <div class="control columns">
                <label class="column is-3">sexy M
                </label>
                <input type="range" min="1" max="100" value="50" class="slider column is-5" id="myRange">
            </div>
        </div>
        <div class="field">
            <div class="control columns">
                <label class="column is-3">sexy F
                </label>
                <input type="range" min="1" max="100" value="50" class="slider column is-5" id="myRange">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input" type="text" placeholder="tags">
            </div>
        </div>
        <div class="tags">
            <span class="tag">fight</span>
            <span class="tag">samurai</span>
            <span class="tag">philosophical</span>
        </div>
    </div>
    <div class="column is-4">
        <h5 class="title is-5">Results</h5>
        <ol>
            <li>My anime 1 <a>see in ranking</a></li>
            <li>My anime 2 <a>see in ranking</a></li>
            <li>My anime 3 <a>see in ranking</a></li>
        </ol>
    </div>
</div>