<div class="columns">

    <div class="column is-6">
        <h5 class="title is-5">Filters </h5>
        <div class="field">
            <div class="select">
                <select>
                          <option disabled selected>Genre</option>
                          <option>Harem</option>
                          <option>Martial Arts</option>
                </select>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label>visuals
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">                    
                </label>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label>audio
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">                    
                </label>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label>violence
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">                    
                </label>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label>sexy M
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">                    
                </label>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label>sexy F
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">                    
                </label>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="input" type="text" placeholder="tags">
            </div>
        </div>
        <div class="tags">
            <span class="tag">fight</span>
            <span class="tag">samurai</span>
            <span class="tag">philosophical</span>
        </div>
    </div>

    <div class="column is-6">
        <h5 class="title is-5">Results</h5>
        <ol>
            <li>My anime 1 <a>see in ranking</a></li>
            <li>My anime 2 <a>see in ranking</a></li>
            <li>My anime 3 <a>see in ranking</a></li>
        </ol>
    </div>

</div>