<div class="columns">
    <div class="column is-4">
        <h5 class="title is-5">Search by similarities <input type="checkbox" v-model="bySimilarities"> </h5>
        <div class="field has-addons">
            <div class="control">
                <input class="input" type="text" placeholder="anime name ex: Naruto" v-model="animeName" list="advisedNameSearch">
                <datalist id="advisedNameSearch">
                  <option v-for="names in searchList" v-bind:value="names"></option>
                </datalist>
            </div>
            <div class="control">
                <button class="button" @click="addAnime(animeName)"><i class="fas fa-plus"></i></button>
            </div>
            <div class="control">
                <button class="button" @click="clearAll()"><i class="far fa-trash-alt"></i></button>
            </div>
        </div>
        <ul>
            <li v-for="anime in animeList">[[anime]]</li>
        </ul>
        <div class="control">
            <button class="button is-primary" v-bind:disabled="!filteringMethodTicked" v-bind:title="searchButtonTitle" @click="searchAdvice()">SEARCH</button>
        </div>
    </div>
    <div class="column is-4">
        <h5 class="title is-5">Minimum characteristics filters <input type="checkbox" v-model="byCharateristics"></h5>
        <div class="field">
            <div class="select">
                <select v-model="genre"> 
                          <option disabled selected>Genre</option>
                          <option v-for="animeGenre in genreList">[[animeGenre]]</option>
                </select>
            </div>
        </div>
        <ul id="characteristics">
            <li class="field" v-for="( characteristic,index) in characteristics">
                <label class="label"> [[characteristic.name]]</label>
                <div class="control">
                    <input type="range" min="0" max="10" v-model:value="characteristic.value" id="myRange">
                </div>
            </li>
        </ul>


        <div class="field">
            <div class="control">
                <input class="input" type="text" placeholder="tags" v-model:value="tagEntry">
            </div>
        </div>
        <div class="tags">
            <span class="tag">fight</span>
            <span class="tag">samurai</span>
            <span class="tag">philosophical</span>
        </div>
    </div>
    <div class="column is-4">
        <h5 class="title is-5">Results</h5>
        <ol>
            <li v-for="result in results">[[result]] <a @click="gotoRanking(result)">see in ranking</a></li>
        </ol>
    </div>
</div>