<div id="homecontent">
    <!--  <div class=" svg-container " class="image is-square"> -->
    <svg version="1.1" id="homeSvg" preserveAspectRatio="xMidYMid meet" viewBox="0 0 800 300">    
            <defs>
                <filter x="0" y="0" width="1" height="1" id="highlight">
                    <feFlood flood-color="snow" flood-opacity="0.7"/>
                    <feComposite in="SourceGraphic" operator="xor"/>
                </filter>

                <mask id="round" maskContentUnits="objectBoundingBox">
                    <rect width="1" height="1" rx="0.2" ry="0.2" />
                </mask>
             </defs>
            <text class="clickable " filter="url(#highlight)" x="510"  y="150"  @click= "display( 'about' )"   >About</text>
            <text class="clickable " filter="url(#highlight)" x="400"  y="260"  @click= "display( 'shop' )"    >Shop</text>
            <text class="clickable " filter="url(#highlight)" x="20"   y="220"  @click= "display( 'account' )" >Account</text>
            <text class="clickable " filter="url(#highlight)" x="220"  y="280"  @click= "display( 'ranking' )" >Ranking</text>
            <text class="clickable " filter="url(#highlight)" x="650"  y="250"  @click= "display( 'advised' )" >Advised</text>
            <text class="clickable " filter="url(#highlight)" x="680"  y="200"  @click= "display( 'rate' )"    >Rate</text>
     </svg>
    <!--    </div> -->

</div>