<!doctype html>

<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="The anime bar" content="Anime referencer , community space and shop">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Anime bar</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bulma.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webDisplay/style.css' %}">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="{% static '/vue.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"></script>
</head>

<body>
    <script type="text/javascript" src="{% static 'webDisplay/init.js' %}"></script>
    <script type="text/javascript" src="{% static 'webDisplay/videoSupport.js' %}"></script>
    <div id="app">
        <section class="hero is-primary is-bold">
            <div class="hero-body">
                <div class="container">
                    <div class="is-block is-pulled-right" v-on:click="logIn()">
                        <i class="fas fa-user fa-2x clickable"></i>
                    </div>
                    <h1 class="title" v-bind:class="{ clickable: !home }" v-on:click="display('home')">
                        THE ANIME BAR
                    </h1>
                    <h2 class="subtitle">
                        <div class="columns" v-if="home">
                            <p class="column is-6"></p>
                            <p class="column is-6">Home ... Time for a anime shot</p>
                        </div>
                        <div class="columns" v-if="about">
                            <p class="column is-6"></p>
                            <p class="column is-6">About ... This is what we are all about</p>
                        </div>
                        <div class="columns" v-if="ranking">
                            <p class="column is-6"></p>
                            <p class="column is-6">Ranking ... The place for the bests</p>
                        </div>
                        <div class="columns" v-if="account">
                            <p class="column is-6"></p>
                            <p class="column is-6">Account ... Well, just you own space you know...</p>
                        </div>
                        <div class="columns" v-if="rate">
                            <p class="column is-6"></p>
                            <p class="column is-6">Rate it!... Vox populi</p>
                        </div>
                        <div class="columns" v-if="advised">
                            <p class="column is-6"></p>
                            <p class="column is-6">Advised ... That s#@t is just for you bro</p>
                        </div>
                        <div class="columns" v-if="shop">
                            <p class="column is-6"></p>
                            <p class="column is-6">Shop ... Here are the goods</p>
                        </div>
                    </h2>
                </div>
            </div>
        </section>

        <section id="mainDisplay" v-bind:class="{padded:!home , fullHeight:!home }">
            <div class="columns">
                <div v-if="!home" class="column is-2">
                    <aside class="menu sticky">
                        <ul class="menu-list">
                            <li v-bind:class={selected:ranking}>
                                <a v-on:click="display('ranking')" class="clickable has-text-black">{{ranking}}</a>
                            </li>
                            <li v-bind:class={selected:rate} v-on:click="display('rate')">
                                <a class="clickable has-text-black">{{rate}}</a>
                            </li>
                            <li v-bind:class={selected:advised} v-on:click="display('advised')">
                                <a class="clickable has-text-black">{{advised}}</a>
                            </li>
                            <!-- <li v-bind:class={selected:shop} v-on:click="display('shop')">
                                <a class="clickable has-text-black">{{shop}}</a>
                            </li> -->
                            <li v-if="identified" v-bind:class={selected:account} v-on:click="display('account')">
                                <a class="clickable has-text-grey">{{account}}</a>
                            </li>
                            <li v-bind:class={selected:about} v-on:click="display('about')">
                                <a class="clickable has-text-grey">{{about}}</a>
                            </li>
                        </ul>
                    </aside>
                </div>
                <div v-if=" !identified "> {% include './LogIn.html' %}</div>
                <div v-if="identified "> {% include './LogOut.html' %}</div>

                <div v-if="!identified"> {% include './LogIn.html' %}</div>
                <div v-if="identified"> {% include './LogOut.html' %}</div>

                <div class="column">
                    <div v-if="home"> {% include './HomeContent.html' %} </div>
                    <div v-if="about">{% include './AboutContent.html' %}</div>
                    <ranking-display v-show="ranking"></ranking-display>
                    <div v-if="account">{% include './AccountContent.html' %}</div>
                    <div v-if="advised">{% include './AdvisedContent.html' %}</div>
                    <div v-if="rate">{% include './RateContent.html' %}</div>
                    <div v-if="shop">{% include './ShopContent.html' %}</div>
                </div>
            </div>
        </section>
    </div>
    <footer id="footer" class="footer">
        <div> {% include './FooterModal.html' %}</div>
        <div class="container">
            <div class=" columns">
                <div class="column is-2"></div>
                <div class="column is-4">
                    <p class="clickable content" v-on:click="display('contact')">Contact</p>
                    <p class="clickable content" v-on:click="display('donate')">Donate</p>
                    <p class="clickable content" v-on:click="display('feedback')">Feedback</p>
                </div>
                <div class="column is-4">
                    <p class="clickable content" v-on:click="display('otherrankings')">Other rankings</p>
                    <p class="clickable content" v-on:click="display('wheretoread')">Where to read mangas</p>
                    <p class="clickable content" v-on:click="display('wheretowatch')">Where to watch animes</p>
                </div>
                <div class="column is-2"></div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="{% static 'webDisplay/ranking.js' %}"></script>
    <script type="text/javascript" src="{% static 'webDisplay/main.js' %}"></script>
    <noscript>
        <div style="position: fixed; top: 0px; left: 0px; z-index: 3000;
                        height: 100%; width: 100%; background-color: #FFFFFF">
                <p style="margin-left: 10px">JavaScript is not enabled.</p>
        </div>
    </noscript>
</body>

</html>