<div class="modal " v-bind:class="{ 'is-active':identify} ">
    <div class="modal-background "></div>
    <div class="modal-content ">
        <div class="box">
            <h4> <b>Would you like to log in? </b></h4>
            <div v-html="message"></div>
            <p class="field">
                <span class="control">
                        <label>Username:</label>
                        <input class="input" type="text" placeholder="ex: kurococo" width="15" v-model="login">
                </span>
            </p>
            <p class="field">
                <span class="control">
                        <label>Password:</label>
                        <input class="input" type="password"   width="15"  v-model="password">
                </span>
            </p>
            <div class="field is-grouped">
                <p class="control">
                    <button class="button is-primary" v-on:click="authenticate(true)">Log in</button>
                </p>
                <p class="control">
                    <button class="button is-danger" v-on:click="authenticate(false)">Cancel</button>
                </p>
                <p class="control">
                    <span class="clickable"> Register &GT; </span>
                </p>
            </div>
        </div>
    </div>
</div>