<div id="ranking">
    <ul id="rankingContent">
        <li class="columns" v-for="(anime,index) in animeDetails">

            <div class="column is-2 ">
                <div>
                    <iframe id="rankingFrame" v-bind:src=" anime.videoLink + '?autoplay=0&amp;controls=0' " frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="column is-7 clickable" @click="selectAnime(index)">
                <div><strong class="is-size-6 is-uppercase">[[anime.name]]</strong> </div>
                <div v-if="currentSelection == index">
                    <div>Genre: [[anime.genre]]</div>
                    <div>[[anime.description]]</div>
                    <div>
                        <h6 class="title is-6  has-text-centered"> ---- STATS /10 ---- </h6>
                        <div class="columns ">
                            <div class="column is-6 ">
                                <p>visuals: 4</p>
                                <p>audio: 2</p>
                                <p>fight: 5</p>
                            </div>
                            <div class="column is-6 ">
                                <p>story: 5</p>
                                <p>violence: 9</p>
                                <p>blood: 7</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rankingMiscelleanous" class=" column is-3 ">
                <div title="score over 100">[[anime.popularity]]</div>
                <div class="clickable" id="expand">
                    <i title="full screen" class="fas fa-expand-arrows-alt"></i>
                </div>
            </div>
        </li>
    </ul>
</div>