<div id="ranking">
    <ul id="animelist">
        <li v-for="(anime,index) in animeDetails">
            <div v-show="!anime.fake">
                <div class="columns is-mobile">
                    <div id="animeNames" class="column is-10">
                        <h5 class="title is-5">[[anime.name]]</h5>
                    </div>
                    <div class="column is-2">
                        <div @click="unfold(index)" v-show="anime.folded"><i class="fa fa-plus" aria-hidden="true"></i></div>
                        <div @click="anime.folded=true" v-show="!anime.folded"><i class="fa fa-minus" aria-hidden="true"></i></div>
                    </div>
                </div>
                <div id="playerWrapper" v-bind:class="{small: anime.folded , large:!anime.folded  }">
                    <div class="listed" v-bind:id="'player' + index">
                        <!-- the 'player#' divs will become iframes-->
                    </div>
                </div>
                <div id="description" v-show="!anime.folded">
                    <h6 class="title is-6 mb-0">GENRE</h6>
                    <div>[[anime.genre]] </div>
                    <h6 class="title is-6 mb-0"> DESCRIPTION </h6>
                    <div>[[anime.description]]</div>
                    <h6 class="title is-6 mb-0"> STATS /10 </h6>
                    <div>visuals: 4 | audio: 2 | fight: 5 | story: 5 | violence: 9 | blood: 7 </div>
                </div>
            </div>
        </li>
    </ul>

    <div id="ranking-move-icon" class="fa-stack fa-lg" @click="ranknav=!ranknav">
        <i class="far fa-circle fa-stack-2x "></i>
        <i class="fas fa-arrows-alt fa-stack-1x"></i>
    </div>
    <div id="ranking-move-panel" v-show="ranknav">
        <div @click="previousPage()"> <i class=" fas fa-chevron-left fa-2x "></i></div>
        <div id="jump-control">
            <input class="input" type="text " placeholder="rank" size="4" maxlength="4" v-model:value="requestedRank">
            <div @click="goToRank(requestedRank)" class="fa-stack fa-lg">
                <i class="far fa-circle fa-stack-2x "></i>
                <i class="fas fa-magic fa-stack-1x"></i>
            </div>
        </div>
        <div @click="nextPage()"> <i class=" fas fa-chevron-right fa-2x "></i></div>
    </div>

</div>