<div class="columns" id="ranking">
    <!-- ///////////////////////////////////////////////////////////// Actual ranking ////////////////////////////////////////////////////////////////// -->
    <div class="column is-9">
        <!-- List of anime with videos, description XOR the selected fullscreen anime video-->
        <ul id="rankingContent" v-bind:class="{scrollable:!extended}">
            <li class="columns" v-for="(anime,index) in animeDetails">

                <!-- When in large display, only the selected video is shown.-->
                <div v-show="!anime.fake" class="column is-2 ">
                    <div v-bind:class="{fullWrapper : extended , listed:!extended }" v-show="!extended || selected(index)">
                        <div v-bind:id="'player' + index" v-bind:class="{fullScreen : extended , listed:!extended }">
                            <!-- the 'player#' divs will become iframes-->
                        </div>
                    </div>
                </div>
                <div v-show="!anime.fake" class="column is-7" v-bind:class="{clickable : !extended}" @mouseover="hovered(index)" @click="expand( index , extended)">
                    <div v-show="!extended"><strong class="is-size-6 is-uppercase">[[anime.name]]</strong><span v-show="hoveredItem == index"> - LAUNCH IN WIDE DISPLAY</span> </div>
                    <div v-show="!anime.fake && !extended">
                        <div>Genre: [[anime.genre]] </div>
                        <div>[[anime.description]]</div>
                        <div>
                            <h6 class="title is-6 has-text-centered"> ---- STATS /10 ---- </h6>
                            <div class="columns ">
                                <div class="column is-6 ">
                                    <p>visuals: 4</p>
                                    <p>audio: 2</p>
                                    <p>fight: 5</p>
                                </div>
                                <div class="column is-6 ">
                                    <p>story: 5</p>
                                    <p>violence: 9</p>
                                    <p>blood: 7</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-show="!anime.fake" id="rankingMiscelleanous" class="column">
                    <div v-show="!extended" title="score over 100">[[anime.popularity]]</div>
                    <div v-show="authenticated && !extended && !anime.favourite" title="favourite" class="clickable" @click="favour(anime.name)"><i class="far fa-star"></i></div>
                    <div v-show="authenticated && !extended && anime.favourite" title="favourite" class="clickable" @click="unfavour(anime.name)"><i class="fas fa-star favoured"></i></div>
                </div>
            </li>
        </ul>
    </div>
    <!-------------------------------------------------   Page navigation   -------------------------------------------------------------------------------------- -->
    <div v-show="!extended" class="column is-3">
        <div id="topArrow" class="clickable" @click="goUp()">
            <i class="fas fa-angle-double-up"></i> Page top
        </div>
        <p>----------------------</p>
        <p>
            <span @click="previousPage()"><i class="fas fa-angle-left clickable"></i></span> Page [[displayedPage]]
            <span @click="nextPage()"> <i class="fas fa-angle-right clickable"></i></span>
        </p>
        Rank [[firstDisplayed]] to [[lastDisplayed]]
        <div class="field has-addons">

            <div class="control">
                <input class="input" type="text" v-model:value="requestedPage" @keydown.enter="goToPage(requestedPage)" maxlength="2" size="6">
            </div>
            <div class="control">
                <button class="button is-info" @click="goToPage(requestedPage)">
                            Go!
                        </button>
            </div>
        </div>
        <p>Total pages: [[lastPage]] - Total animes: [[totalAnimes]] </p>
        <p>----------------------</p>
        <div id="downArrow" class="clickable" @click="goDown()">
            <i class="fas fa-angle-double-down"></i> Page bottom
        </div>
    </div>


    <!--Toolbar with descriptions and navigation for fullscreen mode-->
    <div id="toolBar" class="has-background-light" v-if="extended">
        <div id="compactAnimeInfo">
            Score : [[animeDetails[currentSelection].popularity]] - Ranking : [[currentSelection + 1 ]]
        </div>
        <div v-if="compactDetails">
            <div>
                Genre : [[animeDetails[currentSelection].genre]]
            </div>
            <div>
                Description : [[animeDetails[currentSelection].description]]
            </div>
        </div>
        <div class="field is-grouped">
            <button class="button is-primary" @click="extended=false;compactDetails=false" title="reduce display">
                <i class="fas fa-compress-alt"></i>
            </button>
            <button class="button" @click="compactDetails=!compactDetails" title="show/hide description">
                <i class="fas fa-bars"></i>
            </button>
            <button class="button" @mouseover="compactNav('buttonHovered')" @mouseleave="compactNav('buttonLeft')" title="navigate through menus">
                <i class="far fa-compass"></i>
            </button>
        </div>
    </div>
    <div id="compactNav" class="field is-grouped" v-show="buttonHovered || navMenuHovered" @mouseover="compactNav('menuHovered')" @mouseleave="compactNav('menuLeft')">
        <button v-if="userid >-1" class="button" @click="switchTo('Account')" title="Account">
            <i class="fa fa-user"></i>
        </button>
        <button class="button" @click="switchTo('About')" title="About">
            <i class="fas fa-info"></i>
        </button>
        <button class="button" @click="switchTo('RateIt')" title="Rate it!">
            <i class="far fa-star"></i>
        </button>
        <button class="button" @click="switchTo('Advised')" title="Advised">
            <i class="far fa-grin-wink"></i>
        </button>
    </div>
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------------->
</div>