<div>

    <h5 class="title is-5">Grading </h5>


    <div class="field columns">
        <input type="text" placeholder="Anime name" class="input column is-3">
        <div class="select">
            <select>
                <option hidden selected>Genre</option>
                <option>Any Genre</option>
                <option>Harem</option>
                <option>Martial Arts</option>
            </select>
        </div>
    </div>


    <ul id="characteristics">
        <li class="columns" v-for="( characteritic,index) in characteritics">
            <label class="column is-2"> [[characteritic]]</label>
            <div class="control column is-4">
                <input type="range" min="1" max="10" value="5" class="slider column is-5" id="myRange">
            </div>
            <div id="charact-box" class="control column is-1">
                <input type="checkbox" v-model="charactCheckboxes[index]">
            </div>
        </li>

    </ul>



    <div class="field">
        <div class="control">
            <input class="input" type="text" placeholder="tags">
        </div>
    </div>
    <div class="tags">
        <span class="tag">fight</span>
        <span class="tag">samurai</span>
        <span class="tag">philosophical</span>
    </div>

    <div class="field">
        <label>Un/Select all
                <input type="checkbox" v-model:value="allTicked">
            </label>
        <button class="button is-primary">Send</button>
    </div>

    <h2 v-show="statsSent" class="title is-2 announcement has-text-centered">STATS SENT</h2>

</div>